* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color:white;
}

.login-box {
	width: 280px;
	position: fixed;
	top: 14%;
	left: 41%;
	color:black;
}

